<div th:switch="${departments}">
    <h2 th:case="null">No users yet!</h2>
    <div th:case="*">
        <h2>Departments</h2>
        <table border="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>DeptName</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dept : ${departments}">
                <td th:text="${dept.id}"></td>
                <td th:text="${dept.deptName}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>